.fa-8x {
	font-size: 8em;
}
.post-options {
	position: absolute;
	top: 20px;
	right: 20px;
}
.slider-options {
    position: absolute;
    bottom: 40px;
    left: 80px;
}
.post-options a{
	/*padding: 20px;
	background: white;
	color: black;*/
}
/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
  padding: 3px;
}

.grid-item img {
  display: block;
  max-width: 100%;
  width: 100%;
}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 5px;
  width: auto;
  max-width: 600px;
  margin: 20px auto;
}
.white-popup-image {
  max-width: 800px;
}
.white-popup-form {
  padding: 20px;
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

/* image captions */
.grid-item .box {
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}
 
.grid-item .box img {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.box .caption {
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    color: #fff;
    z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    left: 0;
    padding: 5px;
    bottom: -68px;
    right: 0;
}
.box:hover .caption{
  bottom: 0;
  -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
.featured-post-carousel h2 {
    max-width : inherit;
  }
  .logo-col img{
    height: 80px;
     -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
  }
  .add-bg .logo-col img{
    height: 60px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
  }
  .add-bg .top-header {
    padding: 5px 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
  }
  .add-bg .menu-trigger-col, .add-bg .search-form-col {
    padding-top: 12px;
    padding-bottom: 12px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
  }
  .btn-primary, a {
    color:#81db34;
  }
  .tag {
    padding: 5px 10px;
    background: #fff;
    margin: 3px;
  }
  .tag:hover {
    background: #fff;
  }

  .categories ul {
      padding-left: 0;
      list-style: none;
      margin-top: 0;
    margin-bottom: 9.5px;
  }
  .categories ul li {
    padding: 5px 0;
  }
  .categories a {
    font-size: 1.3em;
  }
  .text-lg {
    font-size: 2em;
  }
  .content-wrap {
    padding: 35px 0 65px;
}
article.single-post-content {
  margin-bottom: 40px;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #81db34;
  border-color: #81db34;
}